<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.year %></td>
        <td><%= link_to 'Buy', customers_buy_path(params: { id: @customer.uuid, book_uuid: book.uuid }), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Return', customers_path %>
